@{
    ViewBag.Title = "Index";
}

<h2>Hello!</h2>

 <h3> Список категорій вчителів </h3>
    @foreach (var entry in ViewBag.TeacherCategories)
    {
        <div>
            <p>@entry.Name</p>
        </div>
    }

  <h3>  Можливі звання вчителів </h3>
      @foreach (var entry in ViewBag.TeacherDegrees)
       {
           <div>
               <p>@entry.Name</p>
           </div>
       }
