#main-sidebar {
    float: left;
    width: 23%;
    height: 90%;
    padding-top:5%;
    z-index:1;
}

#main-content {
    float: right;
    width:77%;
    height:90%;
    padding-top:5%;
}

#top-content {
    height:5%;
    position:fixed;
}