<div class="container" style="width:1000px">

    <div class=" page-header">
        <h1>Щоденник</h1>
    </div>

    <div class="row">
        <div class="col-md-6">
            <button href="#a" type="button" class="btn btn-default" ng-click="showPrevious()">Минулий тиждень</button>
        </div>
        <div class="col-md-6" style="text-align:right">
            <button href="#a" type="button" class="btn btn-default" ng-click="showNext()">Наступний тиждень</button><br><br>
        </div>
    </div>

    <div ng-init="fillHtml(weeks)">
        <div ng-repeat="i in [1,2,3,4,5]">
            <div ng-class="isCurrentDate(i) ? 'panel panel-success' : 'panel panel-default'">
                <div class="panel-heading"><h4> {{days[i-1]}},  {{getDayByIndex(i)}} </h4></div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td width="2%">№</td>
                                <td width="15%">Предмет</td>
                                <td width="25%">Тема уроку</td>
                                <td width="40%">Домашнє завдання</td>
                                <td width="18%" colspan="2">Оцінка</td>
                            </tr>
                        </thead>
                        <tbody ng-repeat="entry in diary" ng-show="isShowing(entry.DayOfTheWeek,i)">
                            <tr>
                                <td>{{entry.OrderNumber}}</td>
                                <td>{{entry.SubjectName}}</td>
                                <td>{{entry.LessonTheme}}</td>
                                <td>{{entry.HomeTask}}</td>
                                <td width="13%">{{entry.MarkTypeName}}</td>
                                <td width="5%">{{entry.MarkValue}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

