<div style="width:1000px">
    <div class="page-header">
        <div class="row">
            <div class="col-md-6">
                <h2>Список класів</h2>
            </div>
            <div class="col-md-6" style="padding-top:20px;">
                <a class=" btn btn-primary pull-right" ng-click="addGroup()"> Додати клас </a>
            </div>
        </div>
    </div>
    <div cg-busy="{promise:myPromise,message:'Загрузка'}">
        <div id="groupsGrid" class="grid" ui-grid="groupsGrid" style="width:1000px; height: 470px;"></div>
    </div>
</div>