<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-md-6">
                <h2> Навчальний рік</h2>
            </div>
        </div>
    </div>
        <div id="dates" class="row" style="text-align:center;align-content:center">
            <form name="AddHolidaysForm">
                <div class="col-md-5" style="display:table; min-width:400px">

                    <div class="page-header" id="semestrN1" ng-repeat="semestr in semestr1">
                        <h3 class="text-primary">Семестр #1</h3>
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-5">
                                <label>Початок</label>
                            </div>
                            <div class="col-md-5">
                                <input type="date" class="form-control" id="startDay" ng-model="semestr.StartDay" ng-click="ChangeEndDay(event)" ng-change="dateChanged(event)" value="{{semestr.StartDay}}" />
                            </div>
                            <div class="col-md-1"></div>
                        </div>

                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-5">
                                <label>Кінець</label>
                            </div>
                            <div class="col-md-5">
                                <input type="date" class="form-control" id="endDay" ng-model="semestr.EndDay" ng-click="ChangeEndDay(event)" ng-change="dateChanged(event)"  value="{{semestr.EndDay}}" />
                            </div>
                            <div>
                                <a href="#/holidays" title="Зберегти" ng-click="addNewHolidays(semestr)"><span title="Зберегти" class="col-md-1 glyphicon glyphicon-ok-circle"></span> </a>
                            </div>
                        </div>
                    </div>
                    <div class="page-header" id="daysOffTitle">
                        <h3 class="text-primary">Вихідні</h3>
                        <div id="allDaysOff">
                            <div ng-repeat="dayOff in daysOff" class="row">
                                <h4>{{dayOff.Name}}</h4>
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-5">
                                        <label>Назва</label>
                                    </div>
                                    <div class="col-md-5">
                                        <input type="text" class="form-control" name="DayOffName{{dayOff.Id}}" id="newdayoffname" placeholder="Введіть назву" ng-change="dateChanged(event)"  ng-model="dayOff.Name" ng-minlength="3" ng-maxlength="30" value="{{dayOff.Name}}" required />
                                        <div class="error" style="color:red"
                                             ng-show="AddHolidaysForm.DayOffName{{dayOff.Id}}.$dirty && AddHolidaysForm.DayOffName{{dayOff.Id}}.$invalid">
                                            <small class="error"
                                                   ng-show="AddHolidaysForm.DayOffName{{dayOff.Id}}.$error.required">
                                                Назва є обов'язковою для введення.
                                            </small>
                                            <small class="error"
                                                   ng-show="AddHolidaysForm.DayOffName{{dayOff.Id}}.$error.minlength">
                                                Назва повинна містити як мінімум 3 літери.
                                            </small>
                                            <small class="error"
                                                   ng-show="AddHolidaysForm.DayOffName{{dayOff.Id}}.$error.maxlength">
                                                Назва не може містити більше 30 літер.
                                            </small>
                                            <small class="error"
                                                   ng-show="AddHolidaysForm.DayOffName{{dayOff.Id}}.$error.pattern">
                                                Не коректна назва.
                                            </small>
                                        </div>
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-5">
                                        <label>Дата</label>
                                    </div>
                                    <div class="col-md-5">
                                        <input type="date" class="form-control" id="dayOffDate" ng-model="dayOff.StartDay" ng-change="dateChanged(event)" ng-change="dateChanged(event)"value="{{dayOff.StartDay}}" />
                                    </div>
                                    <div class="col-md-1" style="top:-25px">
                                        <a ng-href="#/holidays" title="Зберегти" ng-click="addNewDayOff(dayOff)"><span class="glyphicon glyphicon-ok-circle"></span></a>
                                        <a ng-href="#/holidays" ng-click="deleteHolidays({{dayOff.Id}})"><span title="Видалити" class="glyphicon glyphicon-remove-circle"></span></a>
                                    </div>
                                    <br><br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="addDayOff">
                        <h4>Додати вихідний день</h4>
                        <div class="row" id="dayOffName">
                            <label id="dayOffName"></label>
                            <div class="col-md-1"></div>
                            <div class="col-md-5">
                                <label>Назва</label>
                            </div>
                            <div class="col-md-5">
                                <input type="text" class="form-control" name="newDayOffName" id="newDayOffName" placeholder="Введіть назву" ng-minlength="3" ng-maxlength="30" ng-model="dayOff.Name" required />
                                <div class="error" style="color:red"
                                     ng-show="AddHolidaysForm.newDayOffName.$dirty && AddHolidaysForm.newDayOffName.$invalid">
                                    <small class="error"
                                           ng-show="AddHolidaysForm.newDayOffName.$error.required">
                                        Назва є обов'язковою для введення.
                                    </small>
                                    <small class="error"
                                           ng-show="AddHolidaysForm.newDayOffName.$error.minlength">
                                        Назва повинна містити як мінімум 3 літери.
                                    </small>
                                    <small class="error"
                                           ng-show="AddHolidaysForm.newDayOffName.$error.maxlength">
                                        Назва не може містити більше 30 літер.
                                    </small>
                                    <small class="error"
                                           ng-show="AddHolidaysForm.newDayOffName.$error.pattern">
                                        Не коректна назва.
                                    </small>
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                        <div class="row">
                            <label id="dayOffName"></label>
                            <div class="col-md-1"></div>
                            <div class="col-md-5">
                                <label>Дата</label>
                            </div>
                            <div class="col-md-5">
                                <input type="date" class="form-control" id="dayOffDate" ng-model="dayOff.StartDay" required/>
                            </div>
                            <div class="col-md-1" style="top:-20px">
                                <a ng-href="#/holidays" ng-click="addNewDayOff(dayOff)"><span title="Додати" class="glyphicon glyphicon-plus-sign"></span></a>
                            </div>
                            <br><br>
                        </div>
                    </div>
                </div>

                <div class="col-md-5" style="min-width:400px">
                    <div class="page-header" id="semestrN2" ng-repeat="semestr in semestr2">
                        <h3 class="text-primary">Семестр #2</h3>
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-5">
                                <label>Початок</label>
                            </div>
                            <div class="col-md-5">
                                <input type="date" class="form-control" id="startDay" ng-model="semestr.StartDay" ng-click="ChangeEndDay(event)" ng-change="dateChanged(event)" value="{{semestr.StartDay}}" />
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-5">
                                <label>Кінець</label>
                            </div>
                            <div class="col-md-5">
                                <input type="date" class="form-control" id="endDay" ng-click="ChangeEndDay(event)" ng-model="semestr.EndDay" ng-change="dateChanged(event)" value="{{semestr.EndDay}}" />
                            </div>
                            <div class="col-md-1" style=" top:-5px">
                                <a href="#/holidays" title="Зберегти" ng-click="addNewHolidays(semestr)"><span title="Зберегти" class="glyphicon glyphicon-ok-circle"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="page-header" id="daysOffTitle">
                        <h3 class="text-primary">Канікули</h3>
                        <div id="allHolidays">
                            <div ng-repeat="holiday in holidays" class="row">

                                <h4>{{holiday.Name}}</h4>
                                <div class="row" id="HolidaysName">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-5">
                                        <label>Назва:</label>
                                    </div>
                                    <div class="col-md-5">
                                        <input type="text" name="HolidaysName{{holiday.Id}}" id="HolidaysName" class="form-control" placeholder="Введіть назву" ng-change="dateChanged(event)" ng-model="holiday.Name" ng-minlength="3" ng-maxlength="30" value="{{holiday.Name}}" required />
                                        <div class="error" style="color:red"
                                             ng-show="AddHolidaysForm.HolidaysName{{holiday.Id}}.$dirty && AddHolidaysForm.HolidaysName{{holiday.Id}}.$invalid">
                                            <small class="error"
                                                   ng-show="AddHolidaysForm.HolidaysName{{holiday.Id}}.$error.required">
                                                Назва є обов'язковою для введення.
                                            </small>
                                            <small class="error"
                                                   ng-show="AddHolidaysForm.HolidaysName{{holiday.Id}}.$error.minlength">
                                                Назва повинна містити як мінімум 3 літери.
                                            </small>
                                            <small class="error"
                                                   ng-show="AddHolidaysForm.HolidaysName{{holiday.Id}}.$error.maxlength">
                                                Назва не може містити більше 30 літер.
                                            </small>
                                            <small class="error"
                                                   ng-show="AddHolidaysForm.HolidaysName{{holiday.Id}}.$error.pattern">
                                                Не коректна назва.
                                            </small>
                                        </div>
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-5">
                                        <label>Початок:</label>
                                    </div>
                                    <div class="col-md-5">
                                        <input type="date" class="form-control" id="startDay" ng-model="holiday.StartDay" ng-click="ChangeEndDay(event)" ng-change="dateChanged(event)" value="{{holiday.StartDay}}" />
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-5">
                                        <label>Кінець:</label>
                                    </div>
                                    <div class="col-md-5">
                                        <input type="date" class="form-control" id="endDay" ng-click="ChangeEndDay(event)" ng-model="holiday.EndDay" ng-change="dateChanged(event)" value="{{holiday.EndDay}}" />
                                    </div>
                                    <div class="col-md-1" style="top:-25px">
                                        <a href="#/holidays" ng-click="addNewHolidays(holiday)"><span title="Зберегти" class="glyphicon glyphicon-ok-circle"></span></a>
                                        <a ng-href="#/holidays" ng-click="deleteHolidays({{dayOff.Id}})"><span title="Видалити" class="glyphicon glyphicon-remove-circle"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="addHolidays">
                        <h4>Додати позачергові канікули</h4>
                        <div class="row" id="HolidaysName">
                            <div class="col-md-1"></div>
                            <div class="col-md-5">
                                <label>Назва:</label>
                            </div>
                            <div class="col-md-5">
                                <input type="text" name="newHolidaysName" id="newHolidaysName" class="form-control" placeholder="Введіть назву" ng-minlength="3" ng-maxlength="30" ng-model="holidays.Name" required />
                                <div class="error" style="color:red"
                                     ng-show="AddHolidaysForm.newHolidaysName.$dirty && AddHolidaysForm.newHolidaysName.$invalid">
                                    <small class="error"
                                           ng-show="AddHolidaysForm.newHolidaysName.$error.required">
                                        Назва є обов'язковою для введення.
                                    </small>
                                    <small class="error"
                                           ng-show="AddHolidaysForm.newHolidaysName.$error.minlength">
                                        Назва повинна містити як мінімум 3 літери.
                                    </small>
                                    <small class="error"
                                           ng-show="AddHolidaysForm.newHolidaysName.$error.maxlength">
                                        Назва не може містити більше 30 літер.
                                    </small>
                                    <small class="error"
                                           ng-show="AddHolidaysForm.newHolidaysName.$error.pattern">
                                        Не коректна назва.
                                    </small>
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                        </div>

                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-5">
                                <label>Початок:</label>
                            </div>
                            <div class="col-md-5">
                                <input type="date" class="form-control" id="startDay" ng-model="holidays.StartDay" ng-click="ChangeEndDay(event)" />
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-5">
                                <label>Кінець:</label>
                            </div>
                            <div class="col-md-5">
                                <input type="date" class="form-control" id="endDay" ng-click="ChangeEndDay(event)" ng-model="holidays.EndDay" />
                            </div>
                            <div class="col-md-1" style="top:-15px">
                                <a href="#/holidays" title="Зберегти" ng-click="addNewHolidays(holidays)"><span title="Додати" class="glyphicon glyphicon-plus-sign"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
              </form>
        </div>
    </div>
