<style>
    .page-header {
        margin-left: 30px;
        margin-bottom: 5px;
    }

    .center-block {
        margin-top: 5px;
        font-size: 30px;
    }

    #infoBlock {
        padding: 10px;
        padding-left: 15px;
    }

    #UserName {
        margin-top: 10px;
        padding-left: 50px;
        padding-top: 15px;
        margin-bottom: 30px;
    }

    #info {
        border-width: 1px;
        border-style: solid;
        border-color: gainsboro;
        position: relative;
        margin-top: 20px;
        padding: 20px;
    }

    #UserImage {
        margin-left: 60px;
        margin-right: 15px;
        margin-top: 55px;
    }
</style>
<div>
    <script type="text/javascript">
        document.getElementById("UserName").innerHTML = currentUser.LastName + " " + currentUser.FirstName + " " + currentUser.MiddleName;
        document.getElementById("UserNumber").innerHTML = currentUser.PhoneNumber;
        document.getElementById("UserAddress").innerHTML = currentUser.Address;
        document.getElementById("UserEmail").innerHTML = currentUser.Email;
        document.getElementById("UserImage").innerHTML = currentUser.Image;
    </script>

    <div class="page-header"><h2>Мій профіль</h2></div>
    <div class="row">
        <div class="col-md-4">
            <div ng-show="UserImage">
                <img id="UserImage" ng-src="{{UserImage}}" alt="Image" width="170" height="170" />
            </div>
            <div ng-show="!UserImage">
                <img src="../Layouts/Images/default-profile.png" id="image-plaseholder" width="170" height="170">
            </div>  
        </div>
        <div class="col-md-8">
            <h2 id="UserName"></h2>
            <div id="info">
                <h4 id="infoBlock">Телефон: <span id="UserNumber"></span> </h4>
                <h4 id="infoBlock">Адреса:  <span id="UserAddress"></span> </h4>
                <h4 id="infoBlock">Email:   <span id="UserEmail"></span> </h4>
                <h4 id="addInfo"></h4>
            </div>

        </div>
     </div>
</div>