<div class="container-fluid">
    <div class="page-header row">
        <div class="col-md-10">
            <h1> Новини </h1>
        </div>
        <div class="col-md-2">
            <a href="#addAnnouncement" style="margin-top:22px" class="btn btn-primary pull-right" ng-controller="announcementModalService" ng-click="showAnnouncementEditPage()">Додати новину</a>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="panel panel-default" ng-repeat="(announcementIndex,announcement) in listAnnouncements">
        <div class="panel-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div ng-show="announcement.Image">
                            <img ng-src="data:image/jpg;base64,{{announcement.Image}}" alt=" image" height="170">
                        </div>
                        <div ng-show="!announcement.Image">
                            <img src="../Layouts/Images/news-placeholder2.jpg" id ="image-plaseholder" height="170">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h4>{{announcement.Title}}</h4>
                        <br>
                        <h5>{{announcement.Message}}</h5>
                        <br>
                        <h5><small>{{announcement.DataPublished | date: "longDate"}}</small></h5>
                        <div ng-show="announcement.MessageDetails">
                            <a ng-click="showDetail(announcementIndex)" ng-hide="isShowing(announcementIndex)" style="cursor: pointer"> детальніше </a>
                            <br>
                            <h5 ng-show="isShowing(announcementIndex)">{{announcement.MessageDetails}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
