<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-md-6">
                <h2> Новини </h2>
            </div>
            <div class="col-md-6" style="padding-top:20px; ; text-align:right";" ng-controller="announcementModalService">
                <a class=" btn btn-primary" ng-click="showAnnouncementEditPage()"> Додати новину </a>

                <a class=" btn btn-primary" ng-href="#/news"> Попередній перегляд </a>
            </div>
        </div>
    </div>
    <div id="announcementsGrid" class="grid" ui-grid="announcmentGrid"></div>
</div>
