<div class="container-fluid">
    <div class="page-header">
        <h2>Новини</h2>
    </div>
    <div ng-controller="announcementModalService">
        <a class=" btn btn-primary" ng-click="showAnnouncementEditPage()">
            <span class="glyphicons glyphicons-user-add"></span> Додати новину
        </a>
        <a class=" btn btn-primary" ng-href="#/news">
            <span class="glyphicons glyphicons-user-add"></span> Попередній перегляд
        </a>
    </div>
    <br>


    <div id="announcementsGrid" class="grid" ui-grid="announcmentGrid"></div>



</div>
