<div class="container-fluid" ng-controller="parentsController" ng-show="showParentsGrid()">
    <div class="page-header">
        <div class="row">
            <div class="col-md-6">
                <h2>Список батьків</h2>
            </div>
            <div class="col-md-6" style="padding-top:20px;">
                <a href="#addParent" class="btn btn-primary pull-right" ng-click="addParent()">Додати батьків</a>
            </div>
        </div>
    </div>
    <div id="parentsGrid" class="grid" ui-grid="parentsGrid"></div>
</div>

