<div class="container-fluid" ng-controller="pupilsController" ng-show="showPupils()">
    <div class="page-header">
        <div class="row">
            <div class="col-md-6">
                <h2> Список учнів</h2>
            </div>
            <div class="col-md-6" style="padding-top:20px;">
                <a class=" btn btn-primary pull-right" ng-click="addPupil()">
                    Додати учня
                </a>
            </div>
        </div>
    </div>
    <div id="pupilsGrid" ui-grid-pagination class="grid" ui-grid="pupilsGrid"></div>
    <br />
</div>




