<div class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancel()" data-dissmiss="modal" aria-hidden="true">&times;</button><br>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="AddPupilForm">
                    <div class="form-group">
       <!--                 <img src="{{pupil.img}}" class="img-rounded col-sm-4" width="350px" height="400px" alt="{{pupil.firstName}}" />-->
                    </div>
                    <div class="form-group">
                        <label for="firstName" class="col-sm-2 control-label">Ім'я:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="firstName" ng-model="pupil.firstName" name="firstName" ng-minlength="3" ng-maxlength="30" ng-pattern="/^[А-ЯІ]{1}[а-яі]{2,}$/" required />
                            <div class="error" style="color:red"
                                 ng-show="AddPupilForm.firstName.$dirty && AddPupilForm.firstName.$invalid">
                                <small class="error"
                                       ng-show="AddPupilForm.firstName.$error.required">
                                    Поле не може бути пустим!
                                </small>
                                <small class="error"
                                       ng-show="AddPupilForm.firstName.$error.minlength">
                                    Поле повинне містити не менш як 3 символи!
                                </small>
                                <small class="error"
                                       ng-show="AddPupilForm.firstName.$error.maxlength">
                                    Поле не може містити більш ніж 30 символів!
                                </small>
                                <small class="error"
                                       ng-show="AddPupilForm.firstName.$error.pattern">
                                    Перша буква велика! Лише кирилиця!
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="middleName" class="col-sm-2 control-label">По-батькові:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="middleName" ng-model="pupil.middleName" name="middleName" ng-minlength="3" ng-maxlength="30" ng-pattern="/^[А-ЯІ]{1}[а-яі]{2,}$/" required />
                            <div class="error" style="color:red"
                                 ng-show="AddPupilForm.middleName.$dirty && AddPupilForm.middleName.$invalid">
                                <small class="error"
                                       ng-show="AddPupilForm.middleName.$error.required">
                                    Поле не можу бути пустим!
                                </small>
                                <small class="error"
                                       ng-show="AddPupilForm.middleName.$error.minlength">
                                    Поле повинне містити не менш як 3 символи!
                                </small>
                                <small class="error"
                                       ng-show="AddPupilForm.middleName.$error.maxlength">
                                    Поле не може містити більш ніж 30 символів!
                                </small>
                                <small class="error"
                                       ng-show="AddPupilForm.middleName.$error.pattern">
                                    Перша буква велика! Лише кирилиця!
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastName" class="col-sm-2 control-label">Прізвище:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="lastName" ng-model="pupil.lastName" name="lastName" ng-minlength="3" ng-maxlength="30" ng-pattern="/^[А-ЯІ]{1}[а-яі]{2,}$/" required />
                            <div class="error" style="color:red"
                                 ng-show="AddPupilForm.lastName.$dirty && AddPupilForm.lastName.$invalid">
                                <small class="error"
                                       ng-show="AddPupilForm.lastName.$error.required">
                                    Поле не можу бути пустим!
                                </small>
                                <small class="error"
                                       ng-show="AddPupilForm.lastName.$error.minlength">
                                    Поле повинне містити не менш як 3 символи!
                                </small>
                                <small class="error"
                                       ng-show="AddPupilForm.lastName.$error.maxlength">
                                    Поле не може містити більш ніж 30 символів!
                                </small>
                                <small class="error"
                                       ng-show="AddPupilForm.lastName.$error.pattern">
                                    Перша буква велика! Лише кирилиця!
                                </small>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Group" class="col-sm-2 control-label">Клас:</label>
                        <div class="col-sm-4">
                            <select name="NameNumber" class="form-control" id="NameNumber" ng-model="pupil.group.nameNumber">
                                <option ng-repeat="n in ['1','2','3','4','5','6','7','8','9','10','11']" ng-selected="pupil.group.nameNumber == n" ng-click="pupil.group.nameNumber = {{$index}}" value="{{n}}"> {{n}} </option>
                            </select>
                            <select name="NameLetter" class="form-control" id="NameLetter" ng-model="pupil.group.nameLetter">
                                <option ng-repeat="n in ['А','Б','В','Г']" ng-selected="pupil.group.nameLetter == n" ng-click="pupil.group.nameLetter = {{$index}}" value="{{n}}"> {{n}} </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="phoneNumber" class="col-sm-2 control-label">Телефон:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="phoneNumber" ng-model="pupil.phoneNumber" name="phoneNumber" ng-minlength="3" ng-maxlength="30" ng-pattern="/^\d+$/" required />
                            <div class="error" style="color:red"
                                 ng-show="AddPupilForm.phoneNumber.$dirty && AddPupilForm.phoneNumber.$invalid">
                                <small class="error"
                                       ng-show="AddPupilForm.phoneNumber.$error.required">
                                    Поле не можу бути пустим!
                                </small>
                                <small class="error"
                                       ng-show="AddPupilForm.phoneNumber.$error.minlength">
                                    Поле повинне містити не менш як 3 символи!
                                </small>
                                <small class="error"
                                       ng-show="AddPupilForm.phoneNumber.$error.maxlength">
                                    Поле не може містити більш ніж 30 символів!
                                </small>
                                <small class="error"
                                       ng-show="AddPupilForm.phoneNumber.$error.pattern">
                                    Лише цифри!
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-2 control-label">E-mail:</label>
                        <div class="col-sm-4">
                            <input type="email" class="form-control" id="email" name="email" ng-minlength="10" ng-model="pupil.email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required />
                            <div class="error" style="color:red"
                                 ng-show="AddPupilForm.email.$dirty && AddPupilForm.email.$invalid">
                                <small class="error"
                                       ng-show="AddPupilForm.email.$error.required">
                                    Your email is required.
                                </small>
                                <small class="error"
                                       ng-show="AddPupilForm.email.$error.minlength">
                                    Поле повинне містити не менш як 10 символів!
                                </small>
                                <small class="error"
                                       ng-show="AddPupilForm.email.$error.pattern">
                                    Не вірний паттерн!
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="address" class="col-sm-2 control-label">Адреса:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="address" ng-model="pupil.address" name="address" ng-minlength="3" ng-maxlength="50" required />
                            <div class="error" style="color:red"
                                 ng-show="AddPupilForm.address.$dirty && AddPupilForm.address.$invalid">
                                <small class="error"
                                       ng-show="AddPupilForm.address.$error.required">
                                    Поле не можу бути пустим!
                                </small>
                                <small class="error"
                                       ng-show="AddPupilForm.address.$error.minlength">
                                    Поле повинне містити не менш як 3 символи!
                                </small>
                                <small class="error"
                                       ng-show="AddPupilForm.address.$error.maxlength">
                                    Поле не може містити більш ніж 50 символів!
                                </small>
                            </div>
                        </div>
                        <p ng-show="IsFormValid=AddPupilForm.$valid"></p>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="OK" class="btn btn-primary" data-dissmiss="modal" ng-disabled="!IsFormValid" ng-click="close()">Гаразд</button>
                <button type="button" class="btn btn-danger" data-dissmiss="modal" ng-click="cancel()">Відмінити</button>
            </div>
        </div>
    </div>
</div>
