<link href="../Layouts/Styles/ProfilesStyles.css" rel="stylesheet" type="text/css" />
<div ng-app="pupilInfoController" id="pupilInfo">
    <script type="text/javascript">
        if (window.currentUser.Role != "Admin" || window.currentUser.Role != "Teacher") {
            document.location.href = '';
            document.getElementById("pupilInfo").style.display = "none";
        }
    </script>
    <div class="page-header">
        <div class="center-block">
            Профіль
            <a ng-controller="pupilsController" ng-click="editPupil(getPupil())" class="btn btn-primary pull-right" style="margin:1px">Редагувати</a>
            <a onclick="location.href = '#/pupils'" ng-href="#/pupils" class="btn btn-primary pull-right" style="margin:1px"> До списку учнів </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div ng-show="getPupil().Img">
            <img id="UserImage" ng-src="{{getPupil().Img}}" alt="Image" width="170" height="170" />
        </div>
        <div ng-show="!getPupil().Img">
            <img src="../Layouts/Images/default-profile.png" id="image-plaseholder" width="170" height="170">
        </div>
    </div>
    <div class="col-md-9">
        <h2 id="UserName">{{getPupil().LastName}} {{getPupil().FirstName}} {{getPupil().MiddleName}}</h2>
        <div id="info">
            <h4 id="infoBlock">Клас: {{getPupil().Group.NameNumber}} - {{getPupil().Group.NameLetter}} </h4>
            <h4 id="infoBlock">Телефон: {{getPupil().PhoneNumber}} </h4>
            <h4 id="infoBlock">Адреса:  {{getPupil().Address}} </h4>
            <h4 id="infoBlock">Email:   {{getPupil().Email}} </h4>
        </div>
    </div>
</div>
