<div class="tabs">
    <div class="tab">
        <input type="radio" id="tab-1" name="tab-group-1" checked/>
        <label for="tab-1">Учні</label>
        <div class="content">
            <div style="width:1000px">
                <div class="page-header">
                    <div class="row">
                        <div class="col-md-6">
                            <h2> Список учнів</h2>
                        </div>
                        <div class="col-md-6" style="padding-top:20px;">
                            <a href="#addPupil" class=" btn btn-primary pull-right" ng-click="addPupil()">
                                Додати учня
                            </a>
                        </div>
                    </div>
                </div>
                <div id="pupilsGrid" ui-grid-pagination class="grid" ui-grid="pupilsGrid" style="width:1000px; height: 470px;"></div>             
                <br />
            </div>
        </div>
    </div>
    <div class="tab">
        <input type="radio" id="tab-2" name="tab-group-1"/>
        <label for="tab-2">Батьки</label>
        <div class="content" ng-controller="parentsController">
            <div style="width:1000px">
                <div class="page-header">
                    <div class="row">
                        <div class="col-md-6">
                            <h2>Список батьків</h2>
                        </div>
                        <div class="col-md-6" style="padding-top:20px;">
                            <a href="#addParent" class="btn btn-primary pull-right">Додати батьків</a>
                        </div>
                    </div>
                </div>
                <div id="parentsGrid" class="grid" ui-grid="parentsGrid" style="width:1000px; height: 470px;"></div>
            </div>
        </div>
    </div>
</div>



