<div ng-controller="scheduleController">

    <div>
        <input id="TeacherFilter" type="text" autocomplete="on" />
        <input id ="SubjectFilter" type="text" value="1-A" />
        <button type="button" ng-click="showSchedule()">
            Show
        </button>
    </div>

    <div class="navbar-left">
        <table id="Schedule">
            <thead>
                <tr>
                    <th>Day</th>
                    <th>Nuber</th>
                    <th>Teacher</th>
                    <th>Subject</th>
                </tr>
            </thead>
            <tbody ng-repeat="enty in [{day:'Monday',color: '#E9E9E9'},{day:'Tuesday',color:'#F7F5F3'},{day:'Wednesday',color:'#E9E9E9'},{day:'Thursday',color:'#F7F5F3'},{day:'Friday',color:'#E9E9E9'}]" style="background:{{enty.color}}">
                <tr>
                    <td rowspan="7">{{enty.day}}</td>
                    <td>1</td>
                    <td id="{{$index}}teacher1" style="background-color:#E9E9E9"></td>
                    <td id="{{$index}}subject1" style="background-color:#F7F5F3"></td>
                </tr>

                <tr>
                    <td>2</td>
                    <td id="{{$index}}teacher2" style="background-color:#F7F5F3"></td>
                    <td id="{{$index}}subject2" style="background-color:#E9E9E9"></td>
                </tr>

                <tr>
                    <td>3</td>
                    <td id="{{$index}}teacher3" style="background-color:#E9E9E9"></td>
                    <td id="{{$index}}subject3" style="background-color:#F7F5F3"></td>
                </tr>

                <tr>
                    <td>4</td>
                    <td id="{{$index}}teacher4" style="background-color:#F7F5F3"></td>
                    <td id="{{$index}}subject4" style="background-color:#E9E9E9"></td>
                </tr>

                <tr>
                    <td>5</td>
                    <td id="{{$index}}teacher5" style="background-color:#E9E9E9"></td>
                    <td id="{{$index}}subject5" style="background-color:#F7F5F3"></td>
                </tr>

                <tr>
                    <td>6</td>
                    <td id="{{$index}}teacher6" style="background-color:#F7F5F3"></td>
                    <td id="{{$index}}subject6" style="background-color:#E9E9E9"></td>
                </tr>

                <tr>
                    <td>7</td>
                    <td id="{{$index}}teacher7" style="background-color:#E9E9E9"></td>
                    <td id="{{$index}}subject7" style="background-color:#E9E9E9"></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
