<div class="container-fluid">
<div ng-controller="scheduleController">
    <div class="page-header">
        <div class="row">
            <div class="col-md-6">

        <h2>Розклад</h2>
    </div>
            </div>
        </div>
    <div class="panel-body">
        <div class="btn-group">
            <input id="TeacherFilter" type="text" ng-model="teacherFilter.name" autocomplete="on" />
            <span id="searchclear" class="glyphicon glyphicon-remove-circle" onclick="$('#TeacherFilter').val('')"></span>
        </div>

        <select ng-controller="groupsController" ng-model="group.Id" ng-change="showSchedule()" class="select">
            <option value="0"></option> 
            <option ng-repeat="enty in GetAllGroups" value={{enty.Id}} >{{enty.NameNumber}}-{{enty.NameLetter}}</option>
        </select>
        <button class="btn btn-primary modification-schedule-button" ng-click="Edit(group)" ng-show="showEditSchedule()">
            Редагувати Розклад
        </button>
        <div my-table></div>
</div>
<input type="file" id="file" onchange="angular.element(this).scope().GetScheduleFromJson(this)" ng-show="fileSchedule()"/>
</div>
<input id="hidden_id" hidden />
</div>