<div style="width:1000px">
    <div class="page-header">
        <div class="row">
            <div class="col-md-6">
                <h2>Предмети</h2>
            </div>
            <div class="col-md-6" style="padding-top:20px;">
                <a class=" btn btn-primary pull-right" ng-click="addSubject()"> Додати предмет </a>
            </div>
        </div>
    </div>
    
    <div class="panel panel-default" ng-repeat="(subjectIndex,subject) in listSubjects">
        <div class="panel-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">

                        <h4>{{subject.Name}}</h4>
                        <a ng-click="showTeachers(subjectIndex)" ng-hide="isShowing(subjectIndex)" style="cursor: pointer"> Вчителі </a>
                        <br>
                        <div ng-show="isShowing(subjectIndex)" ng-repeat="teacher in subject.ViewTeachers">

                            <a ng-href="#/teacher/{{teacher.Id}}">{{$index+1}}. {{teacher.FirstName+" "+teacher.LastName}}</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
