<div class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancel()" data-dissmiss="modal" aria-hidden="true">&times;</button><br>
            </div>

            <div id="grid" ui-grid="categoriesGrid" ui-grid-edit ui-grid-cellnav class="grid" style="height: auto"></div>



                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">Назва:</label>
                        <div align="center">
                            <input type="text" ng-bind="currentFocused" id="name" ng-model="category.name" name="name" placeholder="Нова категорія" width="300px">
                            <button type="button" id="Add" class="btn btn-primary" data-dissmiss="modal" ng-disabled="!IsFormValid" ng-click="close()">Додати</button>
                        </div>
             
                    </div>



            <div class="modal-footer" >
                <button type="button" class="btn btn-danger" data-dissmiss="modal" ng-click="cancel()">Закрити</button>
            </div>
        </div>
    </div>
</div>
