<link href="../Layouts/Styles/ProfilesStyles.css" rel="stylesheet" type="text/css" />
<div ng-app="teacherInfoController">
    <div class="page-header">
        <div class="center-block">
            Профіль
            <a ng-controller="ModalShowController" ng-click="showTeachersEditPage(getTeacher())" class="btn btn-primary pull-right" style="margin:1px">
                <span class="glyphicons glyphicons-user-add"></span> Редагувати
            </a>

    <a onclick="location.href = '#/teachers'" ng-href="#/teachers" class="btn btn-primary pull-right" style="margin:1px">
        <span class="glyphicons glyphicons-user-add"></span> До списку вчителів
    </a>

    </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div ng-show="getTeacher().Img">
            <img id="UserImage" ng-src="{{getTeacher().Img}}" alt="Image" width="170" height="170" />
        </div>
        <div ng-show="!getTeacher().Img">
            <img src="../Layouts/Images/default-profile.png" id="image-plaseholder" width="170" height="170">
        </div>
    </div>
    <div class="col-md-9">
        <h2 id="UserName">{{getTeacher().LastName}} {{getTeacher().FirstName}} {{getTeacher().MiddleName}}</h2>
        <div id="info">
            <h4 id="infoBlock">Телефон: {{getTeacher().PhoneNumber}} </h4>
            <h4 id="infoBlock">Адреса:  {{getTeacher().Address}} </h4>
            <h4 id="infoBlock">Email:   {{getTeacher().Email}} </h4>
            <h4 id="infoBlock">Категорія: {{getTeacher().Category.Name}}</h4>
            <h4 id="infoBlock">Звання: {{getTeacher().Degree.Name}}</h4>
            <h4 id="infoBlock">Початок роботи: {{getTeacher().WorkStart}}</h4>
            <h4 id="infoBlock">Предмети: <span ng-repeat="subject in getTeacher().Subjects">  {{subject.Name}}</span></h4>
        </div>
    </div>
</div>