<div class="container-fluid" style="z-index:2" ng-controller="teachersController" ng-show="showTeachers()">
    <div class="page-header" ng-controller="ModalShowController">
        <div class="row">
            <div class="col-md-6">
                <h2> Список вчителів</h2>
            </div>
            <div class="col-md-6" style="padding-top:20px; text-align:right" ng-show="showAddEditTeacher()">

                <a class="btn btn-primary" ng-click="showTeachersEditPage()"> Додати вчителя</a>

                <a ng-controller="categoryModelService" class=" btn btn-primary" ng-click="showCategoryEditPage()"> Редагувати категорії </a>

                <a ng-controller="degreeModelService" class=" btn btn-primary" ng-click="showDegreeEditPage()"> Редагувати звання </a>

            </div>
        </div>
    </div>

    <div id="grid2" ui-grid="teachersGrid" ui-grid-edit class="grid"></div>
    <br>
</div>


