<div class="container" style="width:1000px">
    <div class="page-header">
        <h1>Список вчителів</h1>
    </div>
    <div id="grid2" ui-grid="teachersGrid" ui-grid-edit class="grid" style="width:1000px; height: 470px;"></div>
    <br>
    <div >
        <div ng-controller="ModalShowController">
            <a href="#addTeachers" class="btn btn-primary" ng-click="showTeachersEditPage()">
                <span class="glyphicons glyphicons-user-add"></span> Додати вчителя
            </a>

            <a ng-controller="categoryModelService" href="#addCategory" class=" btn btn-primary" ng-click="showCategoryEditPage()">
                <span class="glyphicons glyphicons-user-add"></span> Редагувати категорії
            </a>

            <a ng-controller="degreeModelService" href="#addDegree" class=" btn btn-primary" ng-click="showDegreeEditPage()">
                <span class="glyphicons glyphicons-user-add"></span> Редагувати звання
            </a>

        </div>
    </div>

</div>

