@model SchoolWebProject.Domain.Models.LogInData

@{
    Layout = null;
}

<h2>Login</h2>

@using (Html.BeginForm("LogIn", "Account"))
{
    <p>
        User name
        <br />
        @Html.TextBox("userName")
    </p>
    <p>
        Password
        <br />
        @Html.Password("password")
    </p>
    <br />
    <input type="submit" value="login" />
}
