@model SchoolWebProject.Domain.Models.LogInData

@{
    Layout = null;
}

<style>
    #loginBlock{
        margin-top:150px;
        margin-bottom:50px;
    }
</style>
<center>
    <div id="loginBlock">
        <p>
            <h2>Login</h2>
        </p>
        @using (Html.BeginForm("LogIn", "Account"))
        {
            <p>
                User name:
                @Html.TextBox("userName")
            </p>
            <p>
                Password  :
                @Html.Password("password")
            </p>
            <input type="submit" value="Log in" />
        }
    </div>
</center>