@model SchoolWebProject.Domain.Models.LogInData

<h2>LogIn</h2>

@using (Html.BeginForm("LogIn","Account"))
{
    @Html.TextBox("userName")
    @Html.TextBox("password")
    @Html.RadioButton("rememberMe",false)
    <input type="submit" value="Account"/>
}