<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css"/>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>     
    <div class="container">
        <ul class="nav navbar-fixed-top">
        <li class="navbar-right dropdown"><a href="#" data-toggle="dropdown"><span class="caret"></span>Category</a>
            <ul class="dropdown-menu">
                @foreach (var i in ViewBag.TeacherDegrees)
                {
                    <li><a href="#">@i.Name</a></li>
                }
            </ul>
            </li>
        <li class="navbar-right dropdown" >
            <a href="#" data-toggle="dropdown"><span class="caret"></span>Subject</a>
            <ul class="dropdown-menu">
                @foreach (var i in ViewBag.Subjects)
                { 
                    <li><a href="#">@i.Name</a></li>
                }
            </ul>
        </li>
    </ul> 
       
        <div class='sidebar' style="width:200px">
            <h3>Topics</h3>
            <ul class="nav nav-tabs nav-stacked">
                <li class="btn nav-tabs" onclick="$('#main-info').load('Home/GetTeachers');">Teachers</></li>
                <li class="btn nav-tabs">Subjects</li>
                <li class="btn nav-tabs">Scheldule</li>
                <li class="btn nav-tabs">News</li>
            </ul>
        </div>

        <div class='span8 main' id="main-info">

        </div>

        @RenderBody()

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

        </div>
</body>
</html>
