@{
    Layout = "~/Views/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <script src="~/Scripts/TeacherInfo/TeacherInfoController.js"/>
</head>
<body>
    <div ng-app="teacherInfoController">
        <div ng-controller="showInfo">
            
        </div>
    </div>
</body>
</html>