.main-menu
{ 
    padding: 0; 
    margin: 0; 
    list-style: none;
}

body { font: 14px/1.85em 'Open Sans', Arial, Helvetice Neue, sans-serif; color: #777777; font-weight: 300; font-style: normal; -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */ -webkit-text-size-adjust: 100%; }

a, a:hover, a:focus { text-decoration: none; -webkit-transition: all 150ms ease-in; -moz-transition: all 150ms ease-in; -o-transition: all 150ms ease-in; transition: all 150ms ease-in; }

h1, h2, h3, h4, h5, h6 { font-family: 'Open Sans', Arial, Helvetice Neue, sans-serif; }

*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

 #main-sidebar { 
     float: left; 
     width: 23%; 
     height: 100%; 
     background-color: #495054; 
     color: white;
     position:fixed;
 }

#main-content {
    padding-left:10px;
    float: right;
    width: 77%;
    height: 90%;
}

#top-content {
    height: 5%;
    position: fixed;
}

#Schedule {
    float:initial;
    width: 1000px;
    background: black;
}

#Schedule TH {
        background: gray;
        color: white;
    }

#Schedule TD, TH {
        padding: 3px;
        text-align: center;
        border-bottom-color: #E7D9D9;
        border-color: gray;
        border-style: solid;
    }

#TeacherFilter {
    width:400px;
    margin-bottom:10px;
}

TD.jewel {
    text-align: left;
    background: #ccc;
}


.editableTable {
    border:solid 1px;
    width:100%
}
 
.editableTable td {
    border:solid 1px;
}
 
.editableTable .cellEditing {
    padding: 0;
}
 
.editableTable .cellEditing input[type=text]{
    width:100%;
    border:0;
    background-color:rgb(255,253,210);  
}

﻿.details-background {
    border-color: lightgray;
    border-style: solid;
    border-radius: 2px;
    border-width: 2px;
    width: 30%;
    height: auto;
    margin-right: 3%;
}

#diary-table thead td {
    font-weight: 700;
}

.details-background {
    border-color: lightgray;
    border-style: solid;
    border-radius: 2px;
    border-width: 2px;
    width: 30%;
    height: auto;
    margin-right: 3%;
}

.lessondetails-textarea {
    width: 90%;
    height: auto;
    margin-left: 5%;
    resize: none;
}

.change-button {
    margin-right: 5%;
}

.table .table-bordered thead td {
    font-weight: 700;
}

#image-plaseholder {
    border: 1px solid;
    border-color: lightgrey;
}
#grid2.grid .ui-grid-row .ui-grid-cell {
    border-right: 0px;
    border-top: 1px solid whitesmoke;
}

#pupilsGrid.grid .ui-grid-row .ui-grid-cell {
    border-right: 0px;
    border-top: 1px solid whitesmoke;
}
 #groupsGrid.grid .ui-grid-row .ui-grid-cell {
    border-right: 0px;
    border-top: 1px solid whitesmoke;
}

a {
    background: transparent none repeat scroll 0px 0px;
}

li.home a.active {
    color: #38A9E3;
}
li.home a {
    border-color: #38A9E3;
}
.main-menu li a {
    color: #FFF;
    text-transform: uppercase;
    display: block;
    border-left: 4px solid;
    padding: 15px 30px;
    background-color: #383E41;
    transition: all 150ms ease-in 0s;
}
.main-menu {
    text-align: center;
}
.main-menu, .responsive-menu ul, .social-member, .progess-bars, .first-footer .social-footer ul {
    list-style: outside none none;
}

.logo { 
    margin: 100px 0; 
    background-color: #38a9e3; 
    padding: 25px 40px; 

}
.logo a { 
    color: white; 

}
.logo a h1 { 
    text-transform: uppercase; 
    font-size: 30px; 
    margin: 0; 
    font-weight: 800; 

}
.logo span { 
    color: #bee3f6; 
    font-size: 13px; 
}

.navigation {
    position:relative;
    bottom:10%;
}

.responsive-navigation { 
    position: relative; 
    width: 100%; 
    display: block; 
    z-index: 9999; 
}

li.home a { border-color: #38a9e3; }
li.home a.active { color: #38a9e3; }

li.teachers a { border-color: #e9b144; }
li.teachers a.teachers { color: #e9b144; }

li.subjects a { border-color: #974dea; }
li.subjects a.active { color: #974dea; }

li.pupils a { border-color: #38e395; }
li.pupils a.active { color: #38e395; }

li.groups a { border-color: #e3387c; }
li.groups a.active { color: #e3387c; }

.content {
    float:initial;
    width:100%;
}

#searchclear {
    position: absolute;
    right: 5px;
    top: -11px;
    bottom: 0;
    height: 24px;
    margin: auto;
    font-size: 24px;
    cursor: pointer;
    color: #ccc;
}

.select {
  outline: none;
  -webkit-appearance:menulist;
  display:inline;
  padding: 0.6em 1.6em 0.2em 1.5em;
  margin: 0;
  transition: border-color 0.2s;
  border: 1px solid #ccc;
  border-radius: 5px;

  background: #fff;
  color: #555;
  line-height:inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.select .arr {
  background: #fff;
  bottom: 5px;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 50px;
  pointer-events: none;
}
.select .arr:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 24px;
  margin-top: -5px;
  pointer-events: none;
  border-top: 10px solid #EB5168;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.select .arr:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 28px;
  margin-top: -5px;
  pointer-events: none;
  border-top: 6px solid #fff;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}