<div class="container" style="width:1000px">
    <div class=" page-header">
        <h1>Diary</h1>
    </div>
    <table class="table table-bordered">
        Monday
        <thead> 
            <tr>
                <td width="7%">DayOfTheWeek</td>
                <td width="7%">OrderNumber</td>
                <td>SubjectId</td>
                <td>SubjectName</td>
                <td>HomeTask</td>
                <td>Mark</td>
                <td>Data</td>
            </tr>
 <!--         <tr>                              
                <th width="7%">№ lesson</th>
                <th width="30%">Subject</th>
                <th>Home Task</th>
                <th width="15%">Mark</th>
            </tr>
 -->  
        </thead>
        <tbody ng-repeat="entry in diary">
            <tr>
                <td>{{entry.DayOfTheWeek}}</td>
                <td>{{entry.OrderNumber}}</td>
                <td>{{entry.SubjectId}}</td>
                <td>{{entry.SubjectName}}</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <!--            <tr>
                        <td>2</td>
                        <td>предмет</td>
                        <td>запис</td>
                        <td>запис</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>предмет</td>
                        <td>запис</td>
                        <td>запис</td>
                    </tr>
        -->

        </tbody>
    </table>
</div>
