<div ng-app= "pupilInfoController">
    <div ng-controller="pupilsController">
        <button ng-click="editPupil(getPupil())">Редагувати</button>
        <button onclick="location.href = '#/pupils'" ng-href="#/pupils">До списку учнів</button>
        <h2>{{getPupil().LastName}} {{getPupil().FirstName}} {{getPupil().MiddleName}}</h2>
        <img ng-src="{{getPupil().Img}}" alt="Image" width="170px" height="170px" class="pull-right" />
        <h3>Телефон: {{getPupil().PhoneNumber}}</h3>
        <h3>Адреса: {{getPupil().Address}}</h3>
        <h3>Email: {{getPupil().Email}}</h3>
    </div>
</div>