<div class="navbar-collapse collapse" ng-controller="ModalShowController">
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a data-toggle="dropdown"><span class="caret"></span>Category</a>
            <ul class="dropdown-menu" ng-controller="teacherCategories">
                <li ng-repeat="teacherCategory in teacherCategories"> <a ui-sref="api/teachercategory/{{teacherCategory.Id}}">{{teacherCategory.Name}}</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a data-toggle="dropdown"><span class="caret"></span>Subject</a>
            <ul class="dropdown-menu" ng-controller="subjectsController">
                <li ng-repeat="subject in listSubjects" ng-controller="subjectsController"> <a ui-sref="api/subjects/{{subject.Id}}">{{subject.Name}}</a></li>
            </ul>
        </li>
    </ul>
</div>

    <h2>{{text}}</h2>
    <div id="grid2" ui-grid="teachersGrid" class="grid"></div>

    <div class="nav navbar-nav" ng-controller="ModalShowController">
        <a href="#addTeachers" class="btn-danger" style="left:100px" ng-click="showTeachersEditPage()">Add Teachers</a>
    </div>

