<div id="grid2" ui-grid="teachersGrid" ui-grid-edit class="grid" style="width:1000px; height: 470px;"></div>

<div>
    <div ng-controller="ModalShowController">
        <button href="#addTeachers" role="button" class="btn-danger" style="left:100px" ng-click="showTeachersEditPage()">Add Teachers</button>

        <button ng-controller="categoryModelService"  href="#addCategory" role="button" class="btn-info" style="left:300px" ng-click="showCategoryEditPage()">Add Category</button>
    </div> 
</div>

<br />

